<%- include ../partials/nav.ejs %>
    <div class="container">
      <div class="col-md-6 col-md-offset-3 header">
        <h1><%= user.name %></h1>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <img src="../<%= user.avatar %>" alt="avatar" height='100' width='100' class="img-circle">

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <input class="btn" type="submit" value="Save">
            <input name="id" type="hidden" value="<%= user._id %>">

        </form>

        <form action="/profile/<%= user._id %>" method="POST">

            <p><label for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>"></p>

            <p><label for="bio">Bio:</label>
            <textarea class="form-control" type="text" name="bio" id="bio"><%= user.bio %></textarea></p>

            <p><label for="email">Email:</label>
            <input class="form-control" type="text" name="email" id="email" value="<%= user.email %>"></p>

            <p><label for="gender">Gender:</label>
            <select class="form-control" name="gender" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>

            <p><label for="age">Age:</label>
            <input class="form-control" type="number" name="age" id="age" value="<%= user.age %>"></p>

            <button class="btn" type="submit">Apply Changes</button>
            <button class="btn" onclick="window.location='/profile/<%= user._id %>">Back</button>
        </form>
      </div>
    </div>
<%- include ../partials/footer.ejs %>
