<div class="col-md-9">
  <% if (posts.length==0) { %>
    <%- include ../partials/empty.ejs %>
  <% } else { %>
    <ul class="posts">
      <% posts.forEach((post) => { %>
        <li class="post col-md-12">
          <div class="col-md-2 gradient text-center">
            <div class="center">
              <p><i class="fa fa-users" aria-hidden="true"></i> <%= post.subscribedUsers.length %></p>
              <p><i class="fa fa-comment" aria-hidden="true"></i> <%= post.answers.length %></p>
            </div>
          </div>
          <div class="col-md-8 body">
            <a href="posts/<%= post.id %>"><h1><%= post.title %></h1></a>
            <p><i class="fa fa-calendar" aria-hidden="true"></i>
              <% var date=new Date(post.created_at); %>
              <%= date.getDate(); %>-<%= (date.getMonth()+1); %>-<%= date.getFullYear(); %>
            </p>
            <p class="categories"><%= post.categories %></p>
            <p><%= post.description %></p>
          </div>
          <div class="col-md-2 avatar text-center">
            <img src="../<%= post._creator.avatar %>">
            <p>By: <a href="../profile/<%= post._creator._id %>"><%= post._creator.name %></a></p>
          </div>
        </li>
      <%  }) %>
    </ul>
    <% } %>
</div>
