<%- include ../partials/nav.ejs %>
  <div class="container">
    <div class="col-md-12 header">
      <h1><%= title %></h1>
    </div>
    <%- include ../partials/posts.ejs %>
    <%- include ../partials/sidebar.ejs %>
  </div>
<%- include ../partials/footer.ejs %>
