<%- include ../partials/nav.ejs %>
    <div class="container">
      <h1><%= post.title %></h1>

      <p><%= post.description %></p>

      <% if (userLogged) { %>
        <a href="#" class="btn" id="subscribe" data-id="<%= post._id %>">Follow</a>
      <% } %>
      <% answer.forEach((answer) => { %>
        <li class="post col-md-12">
          <div class="col-md-2 gradient text-center">
            <p><i id="buttonID" data-id="<%= answer._id %>" class="fa fa-thumbs-up" aria-hidden="true"></i> <span id="<%= answer._id %>" data-value="<%= answer.rating %>" ><%= answer.rating %></span></p>
          </div>
          <div class="col-md-8 body">
            <p><%= answer.description %></p>
          </div>
          <div class="col-md-2 avatar">
            <p><%= answer._creator.email %></p>
          </div>
        </li>
      <%  }) %>
      <% if (userLogged) { %>
      <form action="/posts/<%= post.id %>" method="POST">

        <label for="description">Answer</label>
        <textarea name="description" rows="3" cols="80"></textarea>

        <button class="btn btn-bamboozled" type="submit">Submit Answer</button>
      </form>
      <% } %>
    </div>
<%- include ../partials/footer.ejs %>
