<%- include ../partials/nav.ejs %>
    <div class="container">
      <div class="col-md-10 col-md-offset-1 header">
        <h1><%= post.title %></h1>
        <div class="col-md-10">
          <p><i class="fa fa-calendar" aria-hidden="true"></i>
            <% var date=new Date(post.created_at); %>
            <%= date.getDate(); %>-<%= (date.getMonth()+1); %>-<%= date.getFullYear(); %>
          </p>
          <p class="categories"><%= post.categories %></p>
          <p><%= post.description %></p>
        </div>
        <div class="col-md-2">
          <% if (userLogged) { %>
            <a href="#" class="btn" id="subscribe" data-id="<%= post._id %>">Follow</a>
            <a href="#answer" class="btn" data-id="<%= post._id %>">Answer</a>
          <% }else{ %>
            <a href="../login" class="btn">Follow</a>
            <a href="../login" class="btn">Answer</a>
          <% } %>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <ul class="posts">
          <% answers.forEach((answer,index) => { %>
            <li class="post col-md-12">
              <div class="col-md-2 gradient text-center">
                <p class="btn rateButton" data-id="<%= answer._id %>"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span id="<%= answer._id %>" data-value="<%= answer.rating %>" ><%= answer.rating %></span></p>
              </div>
              <div class="col-md-8 body">
                <% if(index==0) { %>
                  <p class="best">Best Answer <i class="fa fa-trophy" aria-hidden="true"></i></p>
                <% } %>
                <p class="answer"><%= answer.description %></p>
                <p><i class="fa fa-calendar" aria-hidden="true"></i>
                  <% var date=new Date(answer.created_at); %>
                  <%= date.getDate(); %>-<%= (date.getMonth()+1); %>-<%= date.getFullYear(); %>
                </p>
              </div>
              <div class="col-md-2 avatar text-center">
                <img src="../<%= answer._creator.avatar %>">
                <p>By: <a href="../profile/<%= answer._creator._id %>"><%= answer._creator.name %></a></p>
              </div>
            </li>
          <%  }) %>
        </ul>
        <% if (userLogged) { %>
          <h2>Answer to this question</h2>
        <form id="answer" action="/posts/<%= post.id %>" method="POST">
          <div class="form-group">
            <textarea name="description" rows="3" cols="80" class="form-control"></textarea>
          </div>
          <button class="btn btn-bamboozled" type="submit">Submit Answer</button>
        </form>
        <% } %>
      </div>
    </div>
<%- include ../partials/footer.ejs %>
